@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body,
html {
  background-color: #f7fafc;
  height: 100vh;
  overflow: hidden;
}