@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(31 41 55);
  height: 100vh;
  overflow: hidden;
}